<h1>Listing feeds</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Last modified</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_feeds.each do |user_feed| %>
      <tr>
        <td><%= user_feed.feed.title %></td>
        <td><%= user_feed.feed.url %></td>
        <td><%= user_feed.last_updated %></td>
        <td><%= link_to 'Show', user_feed.feed %></td>
        <td><%= link_to 'Destroy', user_feed.feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
